.row{
    height: 25px;
    width:25px;
    border:1px solid black;
    display: grid;
    float: left;
}

.col{
    height: 25px;
    width:25px;
    display:grid;
    float:left;
    font-family: 'Montserrat', sans-serif;

}

body{
    text-align:center;
    background-color:#D9F1F4E3;
}

#display{
    font-family: 'Titillium Web', sans-serif;
    width:400px;
    margin:auto;
    margin-bottom: 50px;
    font-size: 45px;
}

#gameBoard{
    width:400px;
    height:400px;
    margin:auto;
}

#gameBoardShadow{
    width:400px;
    height:400px;
    padding:50px;
    background: #36C9C6;
    margin:auto;
    border-radius:12px;
    box-shadow:4px 4px 4px #3E505B;
}
