body{
    margin:0;
    background-color: #f9f9f9;
}

#hamburger-container{
    display:inline-block;
    transform: translate(0, -5px)
}
.hamburger-dash{
  margin: 4px 0;
  width: 25px;
  height: 2px;
  background-color: #333;  
  border-radius: 5px;
}

#hamburger-container:hover .dash-1{
    transition:.25s cubic-bezier(0.25, 0.1, 0.63, 1.76);
    transform: rotate(-45deg) translate(-9px, 6px);

}

#hamburger-container:hover .dash-2{
    opacity: 0;
}

#hamburger-container:hover .dash-3{
    transition:.25s cubic-bezier(0.25, 0.1, 0.63, 1.76);
    transform: rotate(45deg) translate(-1px, -1px);
}

ul {
    padding: 15px 15px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
}

li{
    display: inline;
}

nav{
    background:white;
    position: fixed;
    top: 0;
    width:100%;
    z-indeX:100;
    height:70px
}

#page-content{
    margin-top:85px;
}

#youtube-icon{
    font-size:20px;
    float:left;
    line-height:31px;
}

#youtube-icon span{
    font-family: 'Inter', sans-serif;
}

.fa-user{
    padding:6px;
    border-radius: 50%;
    background-color: rgb(194, 194, 194);
}


.fa-youtube{
    color:#ff0000;
}

#account-buttons .fas{
    margin-left:15px;
    font-size:20px;
}

#sub-count{
    color:#909090;
    font-size:12px;
}

#publisher-text{
    font-size:15px;
    margin-top:20px;
    max-width:600px;
}

#search-container input{
    float:left;
    width:500px;
    border:1px rgb(150, 150, 150) solid;
    border-radius: 2px 0 0 2px;
    height:30px;
    padding:0 10px;
}

#search-container button{
    float: left;
    border-radius: 0 2px 2px 0;
    background: rgb(234, 234, 234);
    padding: 2px;
    border: 1px rgb(150, 150, 150) solid;
    height: 32px;
    width: 50px;
    border-left: none;
}


#video{
    width:65vw;
    margin-left: 100px;
    margin-right: 30px;
    font-family: 'Roboto', sans-serif;
    float:left;
}

#iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
  }
  #iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }

aside{
    width:10vw;
}

#vid-title{
    font-size:20px;
    margin:20px 0;
}

#vid-info{
    padding:0px;
    font-family: 'Roboto', sans-serif;
    color:#909090
}

#vid-description{
    display: flex;
    justify-content: space-between;
}

#publisher-details{
    margin-top:20px;
}


#publisher-image{
    transform: scale(.6);
    height:52.8px;
}


#publisher-image img{
    border-radius: 50%;
    
}

hr{
    background: rgba(0, 0, 0, 0.1);
    height:1px;
    border:none
}

#publisher-information{
    display:flex;
}

#publisher-buttons{
    text-align: right;
    margin-top:17px;
}

.float-left div{
    display:inline;
    
}



#other-vids{
    width:20vw;
    float:left;
    display:block;
    margin-right:30px;
}

.float-right i{
 margin-left:10px;
}

.video-card{
    display:block;
    width:100%;
    height:100px;
    font-family: 'Roboto', sans-serif;
}

.video-card-publisher{
    margin-top:5px;
    color:#606060;
    font-size:15px;
}

.video-card img{
    float:left;
    margin-right:5px;
    height:94px;
}

#other-vids p{
    font-family: 'Roboto', sans-serif;
    margin-bottom: 14px;
}

#vid-info li div{
    display: inline;
}

#likes-container{
    margin-right:20px;
}


#vid-comments{
    margin-top:20px;
}
.comment-card{
    display: flex;
    margin-bottom:20px;
}

.comment-card i{
    margin-right:10px;
    font-size:25px
}

.comment-info div{
    margin-bottom:5px;
}

.comment-stats{
    display:flex;
    font-size: 10px;
    color:#909090;
    margin: 10px 0;
   
}

.comment-stats i{
    font-size: 14px;
    margin-right:10px;
}

#bottom-of-page{
    height:30px;
}

#comment-controls{
    display: flex;
    margin: 40px 0;
}

#comment-controls div{
    margin-right:20px;
}

.like-button:hover,
.dislike-button:hover,
#later-button,
#share-button,
.reply-button,
.fa-ellipsis-h,
#notification-bell,
#subscribe-button,
#join-button,
#show-more-button,
.video-card,
#comment-sort{
    cursor: pointer;
}

.comment-dislike{
    margin: 0 20px;
}

.user-profile-image{
    transform: scale(.9);
    transform-origin: top;
    border-radius: 50%;
    margin-right:10px;
}

#join-button{
    border: 1px solid #065fd4;
    background: white;
    color: #065fd4;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    padding: 5px 10px;
    border-radius:2px;
}

#subscribe-button{
    color: white;
    border: #c00 solid 1px;
    background: #c00;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    padding: 5px 10px;
    margin:5px 5px;
    border-radius:2px;
}

#notification-bell{
    margin: 5px 10px;
}

#show-more-button{
    color:#909090;
    background:transparent;
    border: 1px solid transparent;
    margin:10px 0;
    padding:0
}