@import url('https://fonts.googleapis.com/css?family=Oxygen&display=swap');

:root{
  --main-bg-color: rgb(221, 221, 221);
}

body{
  margin:0px;
  font-family: 'Oxygen', raleway ;
  font-weight: 100;
}

#root{
  top:0px;
}

.headerFrame{
  width: 100%;
  text-align: center;
  height: 7vh;
  background:var(--main-bg-color);
  margin:0px;
}

.headerFrame h1{
  margin:0px
}

.windowFrame{
  height: 100%;
  width:100%;
  display:table;
  background:var(--main-bg-color);
}

.projectListFrame{
  display: table-cell;
  width:15%;
  height:90vh;
  background:var(--main-bg-color);
  padding-top:1vh
}

.projectDetailFrame{
  display: table-cell;
  width:84.5%;
  border-top-left-radius: 10px;
  height:95vh;
  background:white;
  border:1px black solid;
}



hr{
  width: 80%;
  margin-left:0;
  border:0;
  border-top: 1px solid rgb(0, 225, 255);
}

.project-title{
  margin-left:5%;
}


