body{
    background-color: rgb(236, 238, 241);
    font-family: 'Roboto', sans-serif;
}

.btn{
    color: white;
    background-color: #0077C5;
    border: 1px #4c4c4c solid;
    border-radius: 4px;
    cursor: pointer;
}
#account-controls button{
    height:34px;
    font-size: 1.125em;
    
    margin-left:5px;
    
    padding:0 20px;

}

#account-controls{
    text-align: right;
}

#account-controls ul:first-child{
    
    color: #505050
}

ul{
    list-style: none;
    font-size: 12px;
    padding:0px;
}

li {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
}

li p{
    margin: 0;
}

#int-logo{
    height:35px;
    opacity: 0;
    transition:1s ease
}

.box{
    display: flex;
    
    color:#6c6d72
}

#logos{
    text-align: center;
}

#services{
    font-size: 20px;
    color: #6c6d72;
    text-align: center;
    margin:15px 0;
    padding:0px;
}

#services li{
    margin: 0 3px;
}
#services img{
    height:23px;
    margin-right:3px;
}

a{
   color: #0077C5;
   text-decoration: none;
}
/* signup form */
#sign-up-main li{
    display:block;
}
#sign-up-form{
    margin:auto;
    width:378px
    
}

#sign-up-main{
    background: white;
    
    margin: auto;
    text-align: center;
    padding: 30px;
    border: 1px rgb(199, 199, 199) solid;
    border-bottom: none;
}

#sign-up-foot{
    font-size: 10px;
    text-align: center;
    background: #ECEEF1;
    color: #8d9096;
    border: 1px rgb(199, 199, 199) solid;
    margin: auto;
    padding: 15px 30px;
    border-top: none;
}



#sign-up-main p{
    margin: 0;
}

#form{
    text-align: left;
}

#form label{
    color:#404040;
    font-size:14px;
    line-height: 25px;
    padding-bottom: 6px;

}
input{
    width:100%;
    height:34px;
    padding-left:6px;
    border-radius:4px;
    border:1px rgb(199, 199, 199) solid;
}

#password-req{
    display: none;
}

#password-req p{
    margin: 6px 0;
    color: #7c7c7c;
}

#password-good{
    display:none;
    color:green;
    margin-top:5px;
}

.warning-message{
    padding-top:5px;
    color:red;
    visibility: hidden;
}

.phone-message{
    color:#EA7F00;
    display: none;
    padding-top:5px
}

#form li{
    padding-top:30px;
}

#hidden-password{
    overflow: hidden;
    height:0
}


#header{
    font-weight: 400;
    color: #4C4C4C;
    font-size: 24px;
    padding-bottom:20px;
}

#sub-header{
    color: #4C4C4C;
    font-size: 14px;
    font-weight: 100;
    margin:0;
}

#sign-up-main a{
    font-size: 13px;
}

.text-disclaimer{
    font-size: 10px;
    color:#444;
    padding:5px 0;
}

#account-create{
    margin-bottom: 30px;
    width: 100%;
    height: 50px;
    font-size: 15px;
    transition:1s cubic-bezier(0.25, 0.1, 0.51, 1.1);
    transform: translate(0, -30px);
}

#agreement{
    color:#505050;
    font-size:12px;
    font-style: italic;
    
}

/* LEGAL */

#legal{
    text-align: center;
    
    font-size: 12px;
}

#legal a{
    margin:0 5px;
    color:#505050;   
}


#legal p{
    margin: 2px 0;
    color:#505050;
}

.pulse-animation{
    transition:1s ease;
    animation: pulse 1.6s forwards;
    
}

.animation-wrapper{
    transform: translate(150px, 0);
}
.hide-animation{
    transition: .5s ease;
    opacity: 0;
    
    transform:translate(15px, 0)
}

.error{
    border: 1px red solid
}


@keyframes pulse{
    
    0% {
        transform: scale(1) ;
    }
    30%{
        transform: scale(2) ;
    }
    60% {
        transform: scale(1);
    }
    100% {
        transform: translate(-150px, 0) ;
    }
}




